<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Recipe input</key>
		<dict>
			<key>ARCHITECTURE</key>
			<string>arm</string>
			<key>AUTOPKG_VERSION</key>
			<string>2.7</string>
			<key>BUNDLE_TYPE</key>
			<string>jdk</string>
			<key>DOWNLOAD_FILE_EXTENSION</key>
			<string>dmg</string>
			<key>GIT_PATH</key>
			<string>/usr/local/git/bin/git</string>
			<key>JAVA_MAJOR_VERSION</key>
			<string>18</string>
			<key>JSS_VERIFY_SSL</key>
			<true/>
			<key>MUNKI_ARCHITECTURE</key>
			<string>arm64</string>
			<key>MUNKI_CATEGORY</key>
			<string>Developer Tools</string>
			<key>MUNKI_DESCRIPTION</key>
			<string>Azul Zulu builds of OpenJDK are open source, TCK-tested and certified builds of OpenJDK. Azul Zulu is available for a wide range of hardware platforms and operating systems.</string>
			<key>MUNKI_DEVELOPER</key>
			<string>Azul Systems</string>
			<key>MUNKI_DISPLAYNAME</key>
			<string>Azul Zulu Java 18 jdk arm</string>
			<key>MUNKI_MINIMUM_OS_VERSION</key>
			<string>10.14.0</string>
			<key>MUNKI_REPO</key>
			<string>/Users/zilchadmin/Library/Group Containers/G69SCX94XU.duck/Library/Application Support/duck/Volumes/zilch-ops-munki-s3-bucket.s3.amazonaws.com – S3/Munki_Repo</string>
			<key>MUNKI_REPO_SUBDIR</key>
			<string>Developer Tools/Azul Systems/AzulZuluJava/arm</string>
			<key>NAME</key>
			<string>AzulZuluJava</string>
			<key>PARENT_RECIPES</key>
			<array>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.jelockwood.recipes/AzulZuluOpenJDK-00-ARM/AzulZuluOpenJDK-00-ARM.munki.recipe</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.davidbpirie-recipes/AzulZuluJava/AzulZuluJava.pkg.recipe.yaml</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.davidbpirie-recipes/AzulZuluJava/AzulZuluJava.download.recipe.yaml</string>
			</array>
			<key>RECIPE_CACHE_DIR</key>
			<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM</string>
			<key>RECIPE_DIR</key>
			<string>/Users/zilchadmin/Library/AutoPkg/RecipeOverrides</string>
			<key>RECIPE_OVERRIDE_DIRS</key>
			<array>
				<string>~/Library/AutoPkg/RecipeOverrides</string>
			</array>
			<key>RECIPE_PATH</key>
			<string>/Users/zilchadmin/Library/AutoPkg/RecipeOverrides/AzulZuluOpenJDK-00-ARM.munki.recipe</string>
			<key>RECIPE_REPOS</key>
			<dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.apettinen-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/apettinen-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.bnpl-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/bnpl-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.dataJAR-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/dataJAR-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.davidbpirie-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/davidbpirie-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.erikng-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/erikng-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.grahamgilbert-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/grahamgilbert-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.hansen-m-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/hansen-m-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.hjuutilainen-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/hjuutilainen-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.homebysix-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/homebysix-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.jazzace-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/jazzace-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.jessepeterson-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/jessepeterson-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.jleggat-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/jleggat-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.joshua-d-miller-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/joshua-d-miller-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.killahquam-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/killahquam-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.munkireport-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/munkireport-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.precursorca-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/precursorca-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.rtrouton-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/rtrouton-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.scriptingosx-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/scriptingosx-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.smithjw-recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/autopkg/smithjw-recipes.git</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.grahampugh.recipes-yaml</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/grahampugh/recipes-yaml</string>
				</dict>
				<key>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.jelockwood.recipes</key>
				<dict>
					<key>URL</key>
					<string>https://github.com/jelockwood/recipes.git</string>
				</dict>
			</dict>
			<key>RECIPE_SEARCH_DIRS</key>
			<array>
				<string>.</string>
				<string>~/Library/AutoPkg/Recipes</string>
				<string>/Library/AutoPkg/Recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.jelockwood.recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.killahquam-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.rtrouton-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.homebysix-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.hansen-m-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.joshua-d-miller-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.bnpl-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.grahampugh.recipes-yaml</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.grahamgilbert-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.jessepeterson-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.jleggat-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.dataJAR-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.hjuutilainen-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.scriptingosx-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.precursorca-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.smithjw-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.apettinen-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.munkireport-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.erikng-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.jazzace-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.davidbpirie-recipes</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeOverrides</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.jelockwood.recipes/AzulZuluOpenJDK-00-ARM</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.davidbpirie-recipes/AzulZuluJava</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.jelockwood.recipes/AzulZuluOpenJDK-00-ARM</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.davidbpirie-recipes/AzulZuluJava</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.davidbpirie-recipes/AzulZuluJava</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.jelockwood.recipes/AzulZuluOpenJDK-00-ARM</string>
				<string>/Users/zilchadmin/Library/AutoPkg/RecipeRepos/com.github.autopkg.davidbpirie-recipes/AzulZuluJava</string>
			</array>
			<key>pkginfo</key>
			<dict>
				<key>catalogs</key>
				<array>
					<string>testing</string>
				</array>
				<key>category</key>
				<string>Developer Tools</string>
				<key>description</key>
				<string>Azul Zulu builds of OpenJDK are open source, TCK-tested and certified builds of OpenJDK. Azul Zulu is available for a wide range of hardware platforms and operating systems.</string>
				<key>developer</key>
				<string>Azul Systems</string>
				<key>display_name</key>
				<string>Azul Zulu Java 18 jdk arm</string>
				<key>installs</key>
				<array>
					<dict>
						<key>CFBundleShortVersionString</key>
						<string>18.0.2.1</string>
						<key>CFBundleVersion</key>
						<string>1</string>
						<key>path</key>
						<string>/Library/Java/JavaVirtualMachines/zulu-18.jdk</string>
						<key>type</key>
						<string>bundle</string>
						<key>version_comparison_key</key>
						<string>CFBundleVersion</string>
					</dict>
				</array>
				<key>minimum_os_version</key>
				<string>10.14.0</string>
				<key>name</key>
				<string>AzulZuluJava</string>
				<key>unattended_install</key>
				<true/>
				<key>unattended_uninstall</key>
				<true/>
				<key>version</key>
				<string>18.32.13.0</string>
			</dict>
			<key>verbose</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>Input</key>
		<dict>
			<key>arch</key>
			<string>arm</string>
			<key>bundle_type</key>
			<string>jdk</string>
			<key>extension</key>
			<string>dmg</string>
			<key>java_major_version</key>
			<string>18</string>
		</dict>
		<key>Output</key>
		<dict>
			<key>java_version</key>
			<string>18.0.2.1</string>
			<key>munki_arch</key>
			<string>arm64</string>
			<key>openjdk_build_number</key>
			<string>1</string>
			<key>sha256_hash</key>
			<string>aa25a85a8a3e51b2a532753aaf1c8151f8af671d8885c4cc1e245cc2de523f6c</string>
			<key>url</key>
			<string>https://cdn.azul.com/zulu/bin/zulu18.32.13-ca-jdk18.0.2.1-macosx_aarch64.dmg</string>
			<key>version</key>
			<string>18.32.13.0</string>
		</dict>
		<key>Processor</key>
		<string>AzulZuluJavaInfoProvider</string>
	</dict>
	<dict>
		<key>Input</key>
		<dict>
			<key>url</key>
			<string>https://cdn.azul.com/zulu/bin/zulu18.32.13-ca-jdk18.0.2.1-macosx_aarch64.dmg</string>
		</dict>
		<key>Output</key>
		<dict>
			<key>pathname</key>
			<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/downloads/zulu18.32.13-ca-jdk18.0.2.1-macosx_aarch64.dmg</string>
		</dict>
		<key>Processor</key>
		<string>URLDownloader</string>
	</dict>
	<dict>
		<key>Input</key>
		<dict/>
		<key>Output</key>
		<dict/>
		<key>Processor</key>
		<string>EndOfCheckPhase</string>
	</dict>
	<dict>
		<key>Input</key>
		<dict>
			<key>pkg_path</key>
			<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/AzulZuluJava_18.0.2.1.1_jdk_arm-18.32.13.0.pkg</string>
			<key>source_pkg</key>
			<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/downloads/zulu18.32.13-ca-jdk18.0.2.1-macosx_aarch64.dmg/*.pkg</string>
		</dict>
		<key>Output</key>
		<dict>
			<key>pkg_copier_summary_result</key>
			<dict>
				<key>data</key>
				<dict>
					<key>pkg_path</key>
					<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/AzulZuluJava_18.0.2.1.1_jdk_arm-18.32.13.0.pkg</string>
				</dict>
				<key>summary_text</key>
				<string>The following packages were copied:</string>
			</dict>
			<key>pkg_path</key>
			<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/AzulZuluJava_18.0.2.1.1_jdk_arm-18.32.13.0.pkg</string>
		</dict>
		<key>Processor</key>
		<string>PkgCopier</string>
	</dict>
	<dict>
		<key>Input</key>
		<dict>
			<key>expected_authority_names</key>
			<array>
				<string>Developer ID Installer: Azul Systems, Inc. (TDTHCUPYFR)</string>
				<string>Developer ID Certification Authority</string>
				<string>Apple Root CA</string>
			</array>
			<key>input_path</key>
			<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/AzulZuluJava_18.0.2.1.1_jdk_arm-18.32.13.0.pkg</string>
		</dict>
		<key>Output</key>
		<dict/>
		<key>Processor</key>
		<string>CodeSignatureVerifier</string>
	</dict>
	<dict>
		<key>Input</key>
		<dict>
			<key>additional_pkginfo</key>
			<dict>
				<key>installs</key>
				<array>
					<dict>
						<key>CFBundleShortVersionString</key>
						<string>18.0.2.1</string>
						<key>CFBundleVersion</key>
						<string>1</string>
						<key>path</key>
						<string>/Library/Java/JavaVirtualMachines/zulu-18.jdk</string>
						<key>type</key>
						<string>bundle</string>
						<key>version_comparison_key</key>
						<string>CFBundleVersion</string>
					</dict>
				</array>
				<key>version</key>
				<string>18.32.13.0</string>
			</dict>
			<key>pkginfo</key>
			<dict>
				<key>catalogs</key>
				<array>
					<string>testing</string>
				</array>
				<key>category</key>
				<string>Developer Tools</string>
				<key>description</key>
				<string>Azul Zulu builds of OpenJDK are open source, TCK-tested and certified builds of OpenJDK. Azul Zulu is available for a wide range of hardware platforms and operating systems.</string>
				<key>developer</key>
				<string>Azul Systems</string>
				<key>display_name</key>
				<string>Azul Zulu Java 18 jdk arm</string>
				<key>installs</key>
				<array>
					<dict>
						<key>CFBundleShortVersionString</key>
						<string>18.0.2.1</string>
						<key>CFBundleVersion</key>
						<string>1</string>
						<key>path</key>
						<string>/Library/Java/JavaVirtualMachines/zulu-18.jdk</string>
						<key>type</key>
						<string>bundle</string>
						<key>version_comparison_key</key>
						<string>CFBundleVersion</string>
					</dict>
				</array>
				<key>minimum_os_version</key>
				<string>10.14.0</string>
				<key>name</key>
				<string>AzulZuluJava</string>
				<key>unattended_install</key>
				<true/>
				<key>unattended_uninstall</key>
				<true/>
				<key>version</key>
				<string>18.32.13.0</string>
			</dict>
		</dict>
		<key>Output</key>
		<dict>
			<key>pkginfo</key>
			<dict>
				<key>catalogs</key>
				<array>
					<string>testing</string>
				</array>
				<key>category</key>
				<string>Developer Tools</string>
				<key>description</key>
				<string>Azul Zulu builds of OpenJDK are open source, TCK-tested and certified builds of OpenJDK. Azul Zulu is available for a wide range of hardware platforms and operating systems.</string>
				<key>developer</key>
				<string>Azul Systems</string>
				<key>display_name</key>
				<string>Azul Zulu Java 18 jdk arm</string>
				<key>installs</key>
				<array>
					<dict>
						<key>CFBundleShortVersionString</key>
						<string>18.0.2.1</string>
						<key>CFBundleVersion</key>
						<string>1</string>
						<key>path</key>
						<string>/Library/Java/JavaVirtualMachines/zulu-18.jdk</string>
						<key>type</key>
						<string>bundle</string>
						<key>version_comparison_key</key>
						<string>CFBundleVersion</string>
					</dict>
				</array>
				<key>minimum_os_version</key>
				<string>10.14.0</string>
				<key>name</key>
				<string>AzulZuluJava</string>
				<key>unattended_install</key>
				<true/>
				<key>unattended_uninstall</key>
				<true/>
				<key>version</key>
				<string>18.32.13.0</string>
			</dict>
		</dict>
		<key>Processor</key>
		<string>MunkiPkginfoMerger</string>
	</dict>
	<dict>
		<key>Input</key>
		<dict>
			<key>destination_path</key>
			<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/unpack</string>
			<key>flat_pkg_path</key>
			<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/AzulZuluJava_18.0.2.1.1_jdk_arm-18.32.13.0.pkg</string>
		</dict>
		<key>Output</key>
		<dict/>
		<key>Processor</key>
		<string>FlatPkgUnpacker</string>
	</dict>
	<dict>
		<key>Input</key>
		<dict>
			<key>re_pattern</key>
			<string>.*install-location="([^"]*)"</string>
			<key>result_output_var_name</key>
			<string>install_location</string>
			<key>url</key>
			<string>file:///Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/unpack/zulu-18.pkg/PackageInfo</string>
		</dict>
		<key>Output</key>
		<dict>
			<key>install_location</key>
			<string>/Library/Java/JavaVirtualMachines/zulu-18.jdk</string>
		</dict>
		<key>Processor</key>
		<string>URLTextSearcher</string>
	</dict>
	<dict>
		<key>Input</key>
		<dict>
			<key>pkgdirs</key>
			<dict>
				<key>Library</key>
				<string>755</string>
				<key>Library/Java</key>
				<string>755</string>
				<key>Library/Java/JavaVirtualMachines</key>
				<string>755</string>
			</dict>
			<key>pkgroot</key>
			<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/AzulZuluJava</string>
		</dict>
		<key>Output</key>
		<dict/>
		<key>Processor</key>
		<string>PkgRootCreator</string>
	</dict>
	<dict>
		<key>Input</key>
		<dict>
			<key>destination_path</key>
			<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/AzulZuluJava/Library/Java/JavaVirtualMachines/zulu-18.jdk</string>
			<key>pkg_payload_path</key>
			<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/unpack/zulu-18.pkg/Payload</string>
			<key>purge_destination</key>
			<true/>
		</dict>
		<key>Output</key>
		<dict/>
		<key>Processor</key>
		<string>PkgPayloadUnpacker</string>
	</dict>
	<dict>
		<key>Input</key>
		<dict>
			<key>faux_root</key>
			<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/AzulZuluJava/</string>
			<key>installs_item_paths</key>
			<array>
				<string>/Library/Java/JavaVirtualMachines/zulu-18.jdk</string>
			</array>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
		<key>Output</key>
		<dict>
			<key>additional_pkginfo</key>
			<dict>
				<key>installs</key>
				<array>
					<dict>
						<key>CFBundleShortVersionString</key>
						<string>18.0.2.1</string>
						<key>CFBundleVersion</key>
						<string>1</string>
						<key>path</key>
						<string>/Library/Java/JavaVirtualMachines/zulu-18.jdk</string>
						<key>type</key>
						<string>bundle</string>
						<key>version_comparison_key</key>
						<string>CFBundleVersion</string>
					</dict>
				</array>
				<key>version</key>
				<string>18.32.13.0</string>
			</dict>
		</dict>
		<key>Processor</key>
		<string>MunkiInstallsItemsCreator</string>
	</dict>
	<dict>
		<key>Input</key>
		<dict>
			<key>additional_pkginfo</key>
			<dict>
				<key>installs</key>
				<array>
					<dict>
						<key>CFBundleShortVersionString</key>
						<string>18.0.2.1</string>
						<key>CFBundleVersion</key>
						<string>1</string>
						<key>path</key>
						<string>/Library/Java/JavaVirtualMachines/zulu-18.jdk</string>
						<key>type</key>
						<string>bundle</string>
						<key>version_comparison_key</key>
						<string>CFBundleVersion</string>
					</dict>
				</array>
				<key>version</key>
				<string>18.32.13.0</string>
			</dict>
			<key>pkginfo</key>
			<dict>
				<key>catalogs</key>
				<array>
					<string>testing</string>
				</array>
				<key>category</key>
				<string>Developer Tools</string>
				<key>description</key>
				<string>Azul Zulu builds of OpenJDK are open source, TCK-tested and certified builds of OpenJDK. Azul Zulu is available for a wide range of hardware platforms and operating systems.</string>
				<key>developer</key>
				<string>Azul Systems</string>
				<key>display_name</key>
				<string>Azul Zulu Java 18 jdk arm</string>
				<key>installs</key>
				<array>
					<dict>
						<key>CFBundleShortVersionString</key>
						<string>18.0.2.1</string>
						<key>CFBundleVersion</key>
						<string>1</string>
						<key>path</key>
						<string>/Library/Java/JavaVirtualMachines/zulu-18.jdk</string>
						<key>type</key>
						<string>bundle</string>
						<key>version_comparison_key</key>
						<string>CFBundleVersion</string>
					</dict>
				</array>
				<key>minimum_os_version</key>
				<string>10.14.0</string>
				<key>name</key>
				<string>AzulZuluJava</string>
				<key>unattended_install</key>
				<true/>
				<key>unattended_uninstall</key>
				<true/>
				<key>version</key>
				<string>18.32.13.0</string>
			</dict>
		</dict>
		<key>Output</key>
		<dict>
			<key>pkginfo</key>
			<dict>
				<key>catalogs</key>
				<array>
					<string>testing</string>
				</array>
				<key>category</key>
				<string>Developer Tools</string>
				<key>description</key>
				<string>Azul Zulu builds of OpenJDK are open source, TCK-tested and certified builds of OpenJDK. Azul Zulu is available for a wide range of hardware platforms and operating systems.</string>
				<key>developer</key>
				<string>Azul Systems</string>
				<key>display_name</key>
				<string>Azul Zulu Java 18 jdk arm</string>
				<key>installs</key>
				<array>
					<dict>
						<key>CFBundleShortVersionString</key>
						<string>18.0.2.1</string>
						<key>CFBundleVersion</key>
						<string>1</string>
						<key>path</key>
						<string>/Library/Java/JavaVirtualMachines/zulu-18.jdk</string>
						<key>type</key>
						<string>bundle</string>
						<key>version_comparison_key</key>
						<string>CFBundleVersion</string>
					</dict>
				</array>
				<key>minimum_os_version</key>
				<string>10.14.0</string>
				<key>name</key>
				<string>AzulZuluJava</string>
				<key>unattended_install</key>
				<true/>
				<key>unattended_uninstall</key>
				<true/>
				<key>version</key>
				<string>18.32.13.0</string>
			</dict>
		</dict>
		<key>Processor</key>
		<string>MunkiPkginfoMerger</string>
	</dict>
	<dict>
		<key>Input</key>
		<dict>
			<key>MUNKI_REPO</key>
			<string>/Users/zilchadmin/Library/Group Containers/G69SCX94XU.duck/Library/Application Support/duck/Volumes/zilch-ops-munki-s3-bucket.s3.amazonaws.com – S3/Munki_Repo</string>
			<key>pkg_path</key>
			<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/AzulZuluJava_18.0.2.1.1_jdk_arm-18.32.13.0.pkg</string>
			<key>pkginfo</key>
			<dict>
				<key>catalogs</key>
				<array>
					<string>testing</string>
				</array>
				<key>category</key>
				<string>Developer Tools</string>
				<key>description</key>
				<string>Azul Zulu builds of OpenJDK are open source, TCK-tested and certified builds of OpenJDK. Azul Zulu is available for a wide range of hardware platforms and operating systems.</string>
				<key>developer</key>
				<string>Azul Systems</string>
				<key>display_name</key>
				<string>Azul Zulu Java 18 jdk arm</string>
				<key>installs</key>
				<array>
					<dict>
						<key>CFBundleShortVersionString</key>
						<string>18.0.2.1</string>
						<key>CFBundleVersion</key>
						<string>1</string>
						<key>path</key>
						<string>/Library/Java/JavaVirtualMachines/zulu-18.jdk</string>
						<key>type</key>
						<string>bundle</string>
						<key>version_comparison_key</key>
						<string>CFBundleVersion</string>
					</dict>
				</array>
				<key>minimum_os_version</key>
				<string>10.14.0</string>
				<key>name</key>
				<string>AzulZuluJava</string>
				<key>unattended_install</key>
				<true/>
				<key>unattended_uninstall</key>
				<true/>
				<key>version</key>
				<string>18.32.13.0</string>
			</dict>
			<key>repo_subdirectory</key>
			<string>Developer Tools/Azul Systems/AzulZuluJava/arm</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
		<key>Output</key>
		<dict>
			<key>munki_importer_summary_result</key>
			<dict>
				<key>data</key>
				<dict>
					<key>catalogs</key>
					<string>testing</string>
					<key>icon_repo_path</key>
					<string></string>
					<key>name</key>
					<string>AzulZuluJava</string>
					<key>pkg_repo_path</key>
					<string>Developer Tools/Azul Systems/AzulZuluJava/arm/AzulZuluJava_18.0.2.1.1_jdk_arm-18.32.13.0.pkg</string>
					<key>pkginfo_path</key>
					<string>Developer Tools/Azul Systems/AzulZuluJava/arm/AzulZuluJava-18.32.13.0.plist</string>
					<key>version</key>
					<string>18.32.13.0</string>
				</dict>
				<key>report_fields</key>
				<array>
					<string>name</string>
					<string>version</string>
					<string>catalogs</string>
					<string>pkginfo_path</string>
					<string>pkg_repo_path</string>
					<string>icon_repo_path</string>
				</array>
				<key>summary_text</key>
				<string>The following new items were imported into Munki:</string>
			</dict>
			<key>munki_info</key>
			<dict>
				<key>_metadata</key>
				<dict>
					<key>created_by</key>
					<string>zilchadmin</string>
					<key>creation_date</key>
					<date>2022-10-13T17:54:30Z</date>
					<key>munki_version</key>
					<string>5.7.3.4443</string>
					<key>os_version</key>
					<string>12.4</string>
				</dict>
				<key>autoremove</key>
				<false/>
				<key>catalogs</key>
				<array>
					<string>testing</string>
				</array>
				<key>category</key>
				<string>Developer Tools</string>
				<key>description</key>
				<string>Azul Zulu builds of OpenJDK are open source, TCK-tested and certified builds of OpenJDK. Azul Zulu is available for a wide range of hardware platforms and operating systems.</string>
				<key>developer</key>
				<string>Azul Systems</string>
				<key>display_name</key>
				<string>Azul Zulu Java 18 jdk arm</string>
				<key>installed_size</key>
				<integer>320831</integer>
				<key>installer_item_hash</key>
				<string>2e9c6b3cb7ef3f827cf79699771c9d3bf1dccc2bf26cc9e91fd2f95714c701ed</string>
				<key>installer_item_location</key>
				<string>Developer Tools/Azul Systems/AzulZuluJava/arm/AzulZuluJava_18.0.2.1.1_jdk_arm-18.32.13.0.pkg</string>
				<key>installer_item_size</key>
				<integer>187590</integer>
				<key>installs</key>
				<array>
					<dict>
						<key>CFBundleShortVersionString</key>
						<string>18.0.2.1</string>
						<key>CFBundleVersion</key>
						<string>1</string>
						<key>path</key>
						<string>/Library/Java/JavaVirtualMachines/zulu-18.jdk</string>
						<key>type</key>
						<string>bundle</string>
						<key>version_comparison_key</key>
						<string>CFBundleVersion</string>
					</dict>
				</array>
				<key>minimum_os_version</key>
				<string>10.14.0</string>
				<key>name</key>
				<string>AzulZuluJava</string>
				<key>receipts</key>
				<array>
					<dict>
						<key>installed_size</key>
						<integer>320831</integer>
						<key>packageid</key>
						<string>com.azulsystems.zulu.18</string>
						<key>version</key>
						<string>18.32+13</string>
					</dict>
				</array>
				<key>unattended_install</key>
				<true/>
				<key>unattended_uninstall</key>
				<true/>
				<key>uninstall_method</key>
				<string>removepackages</string>
				<key>uninstallable</key>
				<true/>
				<key>version</key>
				<string>18.32.13.0</string>
			</dict>
			<key>munki_repo_changed</key>
			<true/>
			<key>pkg_repo_path</key>
			<string>/Users/zilchadmin/Library/Group Containers/G69SCX94XU.duck/Library/Application Support/duck/Volumes/zilch-ops-munki-s3-bucket.s3.amazonaws.com – S3/Munki_Repo/pkgs/Developer Tools/Azul Systems/AzulZuluJava/arm/AzulZuluJava_18.0.2.1.1_jdk_arm-18.32.13.0.pkg</string>
			<key>pkginfo_repo_path</key>
			<string>/Users/zilchadmin/Library/Group Containers/G69SCX94XU.duck/Library/Application Support/duck/Volumes/zilch-ops-munki-s3-bucket.s3.amazonaws.com – S3/Munki_Repo/pkgsinfo/Developer Tools/Azul Systems/AzulZuluJava/arm/AzulZuluJava-18.32.13.0.plist</string>
		</dict>
		<key>Processor</key>
		<string>MunkiImporter</string>
	</dict>
	<dict>
		<key>Input</key>
		<dict>
			<key>path_list</key>
			<array>
				<string>/Users/zilchadmin/Library/Group Containers/G69SCX94XU.duck/Library/Application Support/duck/Volumes/zilch-ops-munki-s3-bucket.s3.amazonaws.com – S3/Munki_Repo/pkgs/Developer Tools/Azul Systems/AzulZuluJava/arm/AzulZuluJava_18.0.2.1.1_jdk_arm-18.32.13.0.pkg</string>
				<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/AzulZuluJava/</string>
				<string>/Users/zilchadmin/Library/AutoPkg/Cache/local.munki.AzulZuluOpenJDK-00-ARM/unpack/</string>
			</array>
		</dict>
		<key>Output</key>
		<dict/>
		<key>Processor</key>
		<string>PathDeleter</string>
	</dict>
</array>
</plist>
